@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@0;1&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100% !important;
}

nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid gainsboro;
}

.card-content .button,
.modalDetails .button {
  width: 100%;
}

.modalDetails .button {
  margin-top: 10px;
}

#Title {
  margin-top: -35px;
}

#Price {
  font-weight: bold;
}

#Rating {
  color: darkmagenta;
}

#imgHolder {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.card {
  padding-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 200px !important;
  margin-top: 25px;
}

.modalDetails img {
  display: block;
  width: 200px;
  margin: auto;
  padding: 15px;
}

.modalDetails p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modalDetails #productPrice,
.modalDetails #separator,
#productName {
  font-weight: bold;
}

.modalDetails #separator {
  font-size: 20px;
}

.modalDetails #productPrice {
  font-size: 20px;
  color: darkblue;
  text-align: right;
}

.modalDetails #productRating {
  display: inline-block;
  text-align: right;
  margin-left: 15px;
  font-size: 20px;
}

.modalDetails #productName {
  font-size: 28px;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.new-card {
  animation: fadeInUp 0.3s linear;
}

.is-selected {
  color: white !important;
}
